
.infocachees, .infocachees TABLE {
    border: 3px groove grey;
    background-color: #000;
    color: #FFF;
    padding: 5px;
    }

DIV {text-align: justify}

DIV.encart {
    float:right;width:319px;
    padding:10px;
    margin:10px;
    border: 1px dotted black;
    background:white;
}

.menu {
    border: 1px solid grey;
    padding:5px;
    margin-top:5px;
}

.note {
    font-style: italic;
    font-size: 90%;
    margin: 5px;
}

DIV.pied {
    text-align:center;
    border-top: 1px solid black;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    clear:both;
}

DIV.licence {
    padding:10px;
    margin:10px;
    border: 1px dotted black;
    background:white;
}

.starthidden {display: none;}
